@import "base/base";
@import "utils/variables";
@import "utils/mixins";
@import "layout/loader";
@import "layout/headerindex";
@import "layout/footer";



/********** Main **********/
.main-container {
  display: flex;
  flex-direction: column;
}

.location-explication {
  @include display_flex_center;
  flex-direction: column;

  &-loc {
    height: 50px;
    width: 100%;
    @include display_flex_center;
    flex-direction: row;
    gap: 17px;
    background-color: #eaeaea;

    & h2 {
      font-size: 16px;
      }

    &-icon {
      @include display_flex_center;
      width: 12px;
      height: 16px;
    }
  }

  &-expl {
    background-color: #f6f6f6;
    @include display_flex_center;
    flex-direction: column;
    width: 100%;

    & h2 {
      font-size: 24px;
      font-weight: 700;
      margin: 50px 50px 0px 50px;
      text-align: center;
      @media (min-width: $desktop) {
        font-size:  40px; 
        margin-top: 30px;       
      }
    }

    & p {
      font-size: 18px;
      margin: 30px 30px;
      text-align: center;
    }
  }
}

.location-btn {
  width: 220px;
  margin-bottom: 60px;
  @include btn;
  
  &:hover {
    @include btn_hover;
  }
  
  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 70px 30px;
  gap: 25px ;
  @media (min-width: $tablet) {
    padding: 50px 20px;
  }
  @media (min-width: $desktop) {
    align-items: center;
  }

  &-boite {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  & h3 {
    font-size: 24px;
    font-weight: 700;
    @media (min-width: $tablet) and (max-width: 1079px) {
      text-align: center;
    }
  }

  &-boxes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (max-width: 1079px) and (min-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      height: 200px;
    }
    @media (min-width: $desktop) {
      flex-direction: row;
    }
    
    &-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      
      &-num {
        font-size: 15px;
        border: 2px solid $main-color;
        background-color: $main-color;
        color: white;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        @include display_flex_center;
        position: absolute;
        left: -10px;
      }

      &-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 25px;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        @media (min-width: $tablet) {
          width: 260px;
        }
        
        & h2 {
          font-size: 16px;
        }

        .fa-mobile-screen-button {
          @include fa_icon;
        }
        
        .fa-list-ul {
          @include fa_icon;
        }
        
        .fa-store {
          @include fa_icon;
        }
      }
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 55px 20px 65px 20px;
  background-color: #f6f6f6;
  @media (min-width: $tablet) {
    padding: 30px 20px;
  }

  &-container {
    display: flex;
    flex-direction: column;

    & h3 {
      font-size: 24px;
      font-weight: 700;
    }

    &-cards {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px ;
      max-width: $desktop;

      &-duo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: $tablet) {
          flex-direction: row;
          justify-content: space-between;
        }
      }

      & img {
        object-fit: cover;
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 100%;
      }

      &-unique {
        text-decoration: none;
        color: black;
        position: relative;
        @media (min-width: $tablet) {
          width: 50%;
          max-width: 490px;
        }

        &-new  {
          background-color: $third-color;
          position: absolute;
          width: 80px;
          height: 30px;
          @include display_flex_center;
          border-radius: 2px;
          font-size: 14px;
          font-weight: 500;
          color: #008766;
          right: 15px;
          top: 15px;
        }

        &-img {
          height: 231px;
        }

        &-text {
          display: flex;
          flex-direction: column;
          padding: 15px 0 15px 15px;
          text-decoration: none;
          gap: 5px;
          background-color: #FFF;
          border-radius: 0 0 15px 15px;
          position: relative;

          & h2 {
            font-size: 18px;
          }

          .fa-heart {
            font-size: 22px;
            position: absolute;
            right: 25px;
            top: 25px;
          }

          .fa-solid {
            @include fa_solid;

            &:hover {
              @include fa_solid_hover;
            }
          }
        }
      }
    }
  }
}