@import "base/base";
@import "utils/variables";
@import "utils/mixins";
@import "layout/loader-page-resto";
@import "layout/headerresto";
@import "layout/footer";



/********** Main **********/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-img {
    width: 100%;
  }

  &-img img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
}

.menu-choix {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -60px;
  max-width: 1055px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-titre {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 30px 15px 40px 15px;
    position: relative;

    &-title {
      @include display_flex_center;
    }

    &-icon {
      @include display_flex_center;
    }

    .fa-heart {
      font-size: 28px;
      position: absolute;
    }

    .fa-solid {
      @include fa_solid;
      
      &:hover {
        cursor: pointer;
        @include fa_solid_hover;
      }
    }

    & h1 {
      font-size: 28px;
    }
  }
}

.menu-choix-main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  max-width: 634px;
}

.menu-choix-main-bloc {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-title {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & h3 {
      font-size: 16px;
      font-weight: 300;
    }

    &-underline {
      border-bottom: solid 3px $third-color;
      width: 40px;
    }
  }

  &-card {
    background-color: #fff;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    &:hover {
      cursor: pointer;
    }
    &:hover &-check {
      margin-right: 0;
    }

    &-all {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      & h4 {
        font-size: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      &-text {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
  
        & p {
          font-weight: 300;
          font-size: 15px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
  
        & h3 {
          font-size: 16px;
        }
      }
    }

    &-check {
      background-color: $third-color;
      margin-right: -60px;
      width: 60px;
      border-radius: 0px 15px 15px 0px;
      transition: all 0.3s ease-in-out;
      @include display_flex_center
    }
  }
}

.menu-choix-main-bloc-card-check i {
  font-size: 25px;
  color: white;
}

.menu-choix-main-btn {
  @include display_flex_center;

  &-cmd {
    width: 186px;
    @include btn;
    
    &:hover {
      @include btn_hover;
    }
    
    @media (min-width: $tablet) {
      margin-bottom: 30px;
    }
  }
}