/********** General **********/
* {
  margin: 0;
  max-width: 1440px;
}

body {
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand";
}

/********** Header **********/
.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.logo-header-img {
  height: 36px;
  width: 200px;
}
.logo-header-back i {
  color: black;
  font-size: 20px;
  position: relative;
  right: 50px;
}

/********** Main **********/
.menu {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
.menu-img img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-choix {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -60px;
  max-width: 1055px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-choix-titre {
  display: flex;
  gap: 35px;
  align-items: center;
  padding: 30px 15px 40px 15px;
}
.menu-choix-titre i {
  font-size: 28px;
}
.menu-choix-titre h1 {
  font-size: 28px;
}

.menu-choix-main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.menu-choix-main-bloc {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-choix-main-bloc-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu-choix-main-bloc-title h3 {
  font-size: 16px;
  font-weight: 300;
}
.menu-choix-main-bloc-title-underline {
  border-bottom: solid 3px #99E2D0;
  width: 40px;
}
.menu-choix-main-bloc-card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.menu-choix-main-bloc-card-text {
  display: flex;
  justify-content: space-between;
}
.menu-choix-main-bloc-card-text p {
  font-weight: 300;
  font-size: 15px;
}
.menu-choix-main-bloc-card-text h3 {
  font-size: 16px;
}

.menu-choix-main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-choix-main-btn-cmd {
  width: 186px;
  height: 50px;
  font-size: 16px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

/********** Footer **********/
.footer {
  padding: 25px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #FFF;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    gap: 16px;
    height: 54px;
    padding: 30px 25px;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.footer-logo {
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1080px) {
  .footer-logo {
    width: 139px;
  }
}
.footer-liste {
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
@media (min-width: 1080px) {
  .footer-liste-element-text {
    width: 130px;
  }
}
@media (min-width: 1080px) {
  .footer-liste-element-icone {
    width: 188px;
  }
}
.footer-liste-element-icone i {
  width: 25px;
}
@media (min-width: 768px) {
  .footer-liste {
    flex-direction: row;
  }
}/*# sourceMappingURL=stylerestos.css.map */