.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;
    @media (min-width: $desktop) {
      box-shadow: none;
    }
  
    &-img {
      height: 36px;
      width: 200px;
    }
}