.bloc1 {
    animation: loader-page-resto 0.5s ease-in-out;
  }
  
  .bloc2 {
    animation: loader-page-resto 0.7s ease-in-out;
  }
  
  .bloc3 {
    animation: loader-page-resto 0.9s ease-in-out;
  }
  
  @keyframes loader-page-resto {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}